@model IEnumerable<mvc.Models.Pago>
<link rel="stylesheet" href="/css/pago/index.css">
@{
    ViewData["Title"] = "Index";
    var contra=ViewBag.contra;
}

<h1>Pagos</h1>
<p>
    @Html.ActionLink("Registrar Pago", "CreatePedir", new {contra.ContratoId}) 
</p>
<table class="table" id="tabla">
    <thead>
        <tr >
            <th class="titulos">
                @Html.DisplayNameFor(model => model.PagoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inmueble.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inmueble.Duenio)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PagoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inmueble.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inmueble.Duenio.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {item.PagoId }) |
                @Html.ActionLink("Details", "Details", new {item.PagoId }) |
                @Html.ActionLink("Delete", "Delete", new { item.PagoId})
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href="#" onclick="window.history.back()">Volver atrás</a>
</div>