@model IEnumerable<mvc.Models.Usuario>
<link rel="stylesheet" href="/css/user/index.css">
@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Registar Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-UsuarioId="@item.UsuarioId"><img src="/img/editar.png" alt=""></a>
                <a asp-action="Details" asp-route-UsuarioId="@item.UsuarioId"><img src="/img/detalle.png" alt=""></a>
                <a asp-action="Delete" asp-route-UsuarioId="@item.UsuarioId"><img src="/img/elim.png" alt=""></a>
            </td>
        </tr>
}
    </tbody>
</table>
