@model IEnumerable<mvc.Models.Inquilino>
<link rel="stylesheet" href="/css/inqui/index.css">
@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create">Registrar Inquilinos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.InquiId}) |
                @Html.ActionLink("Details", "Details", new { item.InquiId}) |
                @Html.ActionLink("Delete", "Delete", new {item.InquiId  })
            </td>
        </tr>
}
    </tbody>
</table>
