@model IEnumerable<mvc.Models.Propietario>
<link rel="stylesheet" href="./css/prop/index.css">
@{
    ViewData["Title"] = "Index";
}

<h1>Propietarios</h1>

<p>
    <a asp-action="Create">Registra Propietario</a>
</p>
<table class="table" id="tabla">
    <thead>
        <tr >
            <th class="titulos">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-PropId="@item.PropId"><img src="/img/editar.png" alt=""></a>
                <a asp-action="Details" asp-route-PropId="@item.PropId"><img src="/img/detalle.png" alt=""></a>
                <a asp-action="Delete" asp-route-PropId="@item.PropId"><img src="/img/elim.png" alt=""></a>
            </td>
        </tr>
}
    </tbody>
</table>
