@model IEnumerable<mvc.Models.Propietario>
<link rel="stylesheet" href="./css/prop/index.css">
@{
    ViewData["Title"] = "Index";
}

<h1>Propietarios</h1>
<table class="table" id="tabla">
    <thead>
        <tr >
            <th class="titulos">
                @Html.DisplayNameFor(model => model.PropId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Dni)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href="#" onclick="window.history.back()">Volver atrás</a>
</div>