@model mvc.Models.Inmueble
<link rel="stylesheet" href="/css/inmu/delete.css">
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Inmueble</h1>

<h3>Seguro quiere eliminar el inmueble?</h3>
<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsoComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsoComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAmbientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAmbientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InmuId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
