@model mvc.Models.Inmueble
<link rel="stylesheet" href="/css/inmu/details.css">
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsoComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsoComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAmbientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAmbientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duenio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duenio.Nombre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.InmuId }) |
    <a asp-action="Index">Back to List</a>
</div>
