@model mvc.Models.Contrato
<link rel="stylesheet" href="/css/contra/delete.css">
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro desea eliminar el contrato?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InquiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAlquiler)
        </dd>
    </dl>
    
    <form asp-action="Delete">
            <input type="hidden" asp-for="ContratoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
