@model mvc.Models.Contrato
<link rel="stylesheet" href="/css/contra/details.css">
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inmueble.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InquiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inquilino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inquilino.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAlquiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAlquiler)
        </dd>

        
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {Model.ContratoId }) |
    <a asp-action="Index">Volver</a>
</div>
