@model IEnumerable<mvc.Models.Contrato>
<link rel="stylesheet" href="/css/contra/index.css">
@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Registrar Contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.inmueble.Direccion) inmueble
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.inmueble.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inquilino.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-ContratoId="@item.ContratoId"><img src="/img/editar.png" alt=""></a>
                <a asp-action="Details" asp-route-ContratoId="@item.ContratoId"><img src="/img/detalle.png" alt=""></a>
                <a asp-action="Delete" asp-route-ContratoId="@item.ContratoId"><img src="/img/elim.png" alt=""></a>
                @Html.ActionLink("Pago", "PedirPagos","Pagos", new { item.ContratoId })
            </td>
        </tr>
}
    </tbody>
</table>
